<section>
  <h2>Create your room</h2>
  <form action="/create-room" method="post">
    <label class="src-only" for="room-pass">Room password</label>
    <input id="room-pass" name="password" type="password" placeholder="Type your password" required/>
    <button>
      <img src="/assets/user-inside.svg" alt="" />
      Create room
    </button>
  </form>
</section>
