<section >
  <h2>Join as a participant</h2>
  <form action="/enter-room" method="post">
    <label class="src-only" for="room-id">Room id</label>
    <input name="roomID" type="number" placeholder="Room code" required/>
    <button>
      <img src="/assets/enter-room.svg" alt="" />
      Join a room
    </button>
  </form>
</section>

<div class="separator">
  <div></div>
  <div><p>or</p></div>
  <div></div>
</div>

<section>
  <h2>Create your own room easily</h2>

  <a href="/create-pass" class="button outlined">
    <img src="/assets/users.svg" alt="Create Room" />Create Room
  </a>
</section>
