<section class="not-found">
  <h2>Room not found</h2>

  <div class="not-found">
  
    <img src="/assets/not-found.svg" alt="">
    <a href="/" class="button">
      <img src="/assets/enter-room.svg" alt="" />
      Go back
    </a>

  </div>
  
</section>